.header {

    .instructions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30vh;

        &__paragraph {
            line-height: 1.5;
            font-size: 2.5vmin;

            &--important {
                text-align: center;
                font-weight: bold;
                font-size: 3vmin;
                padding-bottom: .5em;
            }
        }

        &__note {
            padding-top: 1.25em;
            font: italic 500 2.40vmin 'Barlow Condensed';
        }

        .order-number {
            font: 500 2.75vmin 'Barlow Condensed';
            width: 1.45em;
            display: inline-block;
        }
    }

}