@import '../utils/variables';
@import './header__logo';
@import './header__instructions';
@import './header__controls';

.memory {
    .header {
        order: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        padding: 1em;

        @include header;
    }
}