@import '../utils/variables';
@import './header__instructions';
@import './header__controls';

.memory {
    .header {
        order: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 50%;
        font-family: 'Vollkorn';
        padding: 1em;

        &__title {
            padding: .2em .55em;
            font: italic 700 7vmin 'Barlow Condensed';
            background: $bg-color-main;
            white-space: nowrap;
            border-radius: .075em;
        }
    }
}