@import '../utils/variables';
@import '../mixins/controls-mixins';

.memory {
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vw;
    @include controls;

    &__play {
      cursor: pointer;
      text-align: center;
      font: italic small-caps bold 4.5vmin 'Barlow Condensed';
      transition: background-color 0.2s;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: .1em;
        background: $bg-color-main;
        margin-top: 0.1em;
        transition: width 0.2s;
      }

      &:hover::after {
        width: 95%;
      }
    }

    &__moves {
      visibility: hidden;
    }

    &__moves-info {}

    &__win-info {
      visibility: hidden;
      background: rgb(35, 209, 146);
      text-align: center;
      padding: 0.17em 0.5em;
      font: italic 700 5.25vmin 'Barlow Condensed';
      border-radius: 0.075em;
    }

    &__audio {}

    &__mute {
      font: italic 700 3vmin 'Barlow Condensed';
      cursor: pointer;
      font-weight: 700;
      border-bottom: 0.1em solid transparent;
      font-variant: small-caps;
      text-align: center;
      position: relative;
      z-index: 10;
      background: transparent;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: .1em;
        background: $bg-color-main;
        margin-top: 0.1em;
        transition: width 0.2s;
      }

      &:hover::after {
        width: 95%;
      }
    }
  }
}