@import '../utils/variables';
@import '../mixins/memory-mixins';

html,
body {
    width: 100%;
}

html {
    font-size: calc(1em + 1vw);
}

::-webkit-scrollbar {
    display: none;
}

.memory {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100vw;
    @include memory;


}

.win {
    // background: #ddd;
    background-size: 300%;
    background-image: linear-gradient(90deg, $bg-color-main, $bg-color-secondary, $bg-color-bullet);
    animation: bg-animation 5s infinite; // originally was 25s

}

@keyframes bg-animation {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}