@mixin controls {
    @media (max-width: 1000px) {
        justify-content: space-between;
        height: 25vw;
    }

    @media (max-width: 750px) {
        justify-content: space-between;
        height: 30vw;
    }

    @media (max-width: 685px) {
        justify-content: space-between;
        height: 34vw;
    }

}