html,
body {
  width: 100%;
}

html {
  font-size: calc(1em + 1vw);
}

::-webkit-scrollbar {
  display: none;
}

.memory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.win {
  background: #ddd;
  background-size: 300%;
  background-image: -webkit-gradient(linear, left top, right top, from(#d33c24), color-stop(#23d192), to(#F5E663));
  background-image: linear-gradient(90deg, #d33c24, #23d192, #F5E663);
  -webkit-animation: bg-animation 5s infinite;
          animation: bg-animation 5s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.header .instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30vh;
  vertical-align: middle;
}

.header .instructions__paragraph {
  line-height: 1.5;
  vertical-align: middle;
  font-size: 2.5vmin;
}

.header .instructions__paragraph--important {
  text-align: center;
  font-weight: bold;
  font-size: 3vmin;
  padding-bottom: .5em;
}

.header .instructions .order-number {
  font: 700 2.5vmin 'Montserrat';
  width: 4vh;
  height: 4vh;
  margin-right: .2em;
  vertical-align: middle;
  line-height: 2vw;
  line-height: 4vh;
  text-align: center;
  border-radius: 50%;
  background: #d33c24;
  background: #F5E663;
  display: inline-block;
}

.header .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vw;
}

@media (max-width: 1000px) {
  .header .controls {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 25vw;
  }
}

@media (max-width: 750px) {
  .header .controls {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 30vw;
  }
}

@media (max-width: 685px) {
  .header .controls {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 34vw;
  }
}

.header .controls__play {
  cursor: pointer;
  text-align: center;
  font: italic small-caps bold 4.5vmin 'Montserrat';
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.header .controls__play::after {
  content: '';
  display: block;
  width: 0;
  height: .1em;
  background: #d33c24;
  margin-top: 0.1em;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.header .controls__play:hover::after {
  width: 95%;
}

.header .controls__moves {
  font-size: 1rem;
  height: 3vh;
}

.header .controls__win-info {
  visibility: hidden;
  background: #23d192;
  text-align: center;
  padding: 0.17em 0.575em 0.17em 0.5em;
  font: italic 900 5.25vmin 'Montserrat';
  border-radius: 0.075em;
}

.header .controls__mute {
  font: italic 700 3vmin 'Montserrat';
  cursor: pointer;
  font-weight: 700;
  border-bottom: 0.1em solid transparent;
  font-variant: small-caps;
  text-align: center;
  position: relative;
  z-index: 10;
  background: transparent;
}

.header .controls__mute::after {
  content: '';
  display: block;
  width: 0;
  height: .1em;
  background: #d33c24;
  margin-top: 0.1em;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.header .controls__mute:hover::after {
  width: 95%;
}

.memory .header {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Vollkorn';
  padding: 1em;
}

@media (max-width: 865px) {
  .memory .header {
    width: 45vw;
  }
}

.memory .header__title {
  padding: 0.15em 0.35em;
  margin: .2em 1em 0;
  font: italic 900 6vmin 'Montserrat';
  background: #d33c24;
  white-space: nowrap;
  border-radius: 0.075em;
}

@media (max-width: 750px) {
  .memory .header__title {
    font-size: 5.7vmin;
  }
}

@media (max-width: 685px) {
  .memory .header__title {
    font-size: 5.2vmin;
  }
}

.memory .board {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  width: 50vw;
  height: 100vh;
  visibility: hidden;
}

@media (max-width: 1025px) {
  .memory .board {
    padding: .5em;
  }
}

@media (max-width: 865px) {
  .memory .board {
    width: 55vw;
  }
}

.memory .board__card {
  height: 10vw;
  width: 10vw;
  margin: .35em;
  border: 0.2vh solid rgba(10, 10, 10, 0.1);
}

@media (max-width: 1280px) {
  .memory .board__card {
    height: 9.5vw;
    width: 9.5vw;
    margin: 0 .55em;
  }
}

@media (max-width: 1025px) {
  .memory .board__card {
    height: 10vw;
    width: 10vw;
    margin: 0 .55em;
  }
}

@media (max-width: 865px) {
  .memory .board__card {
    height: 9.5vw;
    width: 9.5vw;
    margin: 0 .65em;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*# sourceMappingURL=index.css.map */